<h1>Edit Gasto Público General</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>País</th>
                    <th>Año</th>
                    <th>Gasto Público</th>
                    <th>Gasto de Educación</th>
                    <th>Gasto de Salud</th>
                    <th>Gasto de Defensa</th>
                    <th>Gasto Público PIB</th>
                    <th>Var</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align: middle;">{{ generalPublicExpenses.country }} </td>
                    <td style="vertical-align: middle;">{{ generalPublicExpenses.year }}</td>
                    <td>
                        <input class="form-control" ng-model="generalPublicExpenses.publicSpending" value="new publicSpending"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="generalPublicExpenses.educationExpense" value="new educationExpense"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="generalPublicExpenses.healthExpense" value="new healthExpense"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="generalPublicExpenses.defenseSpending" value="new defenseSpending"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="generalPublicExpenses.publicSpendingPib" value="new publicSpendingPib"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="generalPublicExpenses.var_" value="new var_"/>
                    </td>
                    
                    <td><button class="btn btn-outline-primary" ng-click="updateGeneralPublicExpenses()"
                    >Actualizar</button></td>
                </tr>
                   
                
            </tbody>
        </table>