<div class="container" style="margin-top: 20px;">
  
     <div class="row justify-content-center">
          <h1 ><u>Public Expenditure Educations</u></h1>
          
      </div>
  
     <div class="row">
        
      
        <table class="table " style="margin-top: 20px; text-align: center; font-size:15px;">
          <thead class="thead-dark">
            <tr >
              <th scope="col">País</th>
              <th scope="col">Año</th>
              <th scope="col">Gasto Educación</th>
              <th scope="col">G. Educación (% Pub)</th>
              <th scope="col">G. Educación (% Pib)</th>
              <th scope="col">G.E. Per Capita</th>
              <th scope="col">Var.</th>
              <th scope="col"></th>
            </tr>
          </thead>
          
          <tbody>
              
            <form class="form-group">
                
           
              <tr>
                <td style = "font-size:20px; padding-top:18px;">{{data.datos.country}}</td>
                <td style = "font-size:20px; padding-top:18px;">{{data.datos.year}}</td>
                <td><input class="form-control" type="text" name="" ng-model="data.datos.educationExpense" placeholder="Gasto Educación"></td>
                <td><input class="form-control" type="text" name="" ng-model="data.datos.educationExpensePub" placeholder="G. Educación (% Pub)"></td>
                <td><input class="form-control" type="text" name="" ng-model="data.datos.educationExpensePib" placeholder="G. Educación (% Pib)"></td>
                <td> <input class="form-control" type="text" name="" ng-model="data.datos.healthExpenditurePerCapita" placeholder="G.E. Per Capita"></td>
                <td><input class="form-control" type="text" name="" ng-model="data.datos.var_" placeholder="var"></td>
                
    
                
                <td>
                  
                 <button type="button"  ng-click="update()" style="background-color:white; border:hidden; padding-top:8px;" ><i class="fa fa-refresh" style="font-size:20px;color:rgb(0,255,0)"></i></button>
                  
                </td>
            
              </tr>
  
             </form>
            
          </tbody>
        </table>
        
        
        
      </div>
</div>