<!-- cabecera -->
<h1 class="text-center">Editar gasto público</h1>

<!-- separador -->
<hr width="100%" />

<!-- contenedor general -->
<div class="container">

    <table class="table table-striped table-sm table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle text-center">PAÍS</th>
                <th class="align-middle text-center">AÑO</th>
                <th class="align-middle text-center">GASTOS EN SALUD PÚBLICA</th>
                <th class="align-middle text-center">GASTOS EN SALUD</th>
                <th class="align-middle text-center">GASTOS PÚBLICOS TOTALES</th>
                <th class="align-middle text-center">GASTOS EN SALUD (PIB)</th>
                <th class="align-middle text-center">GASTOS EN SALUD PER CÁPITA</th>
                <th class="align-middle text-center">VAR</th>
                <th class="align-middle text-center">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle text-center">{{ data.country }}</td>
                <td class="align-middle text-center">{{ data.year }}</td>
                <td class="align-middle text-center"><input class="form-control" ng-model="data.publicHealthExpense" /></td>
                <td class="align-middle text-center"><input class="form-control" ng-model="data.healthExpense" /></td>
                <td class="align-middle text-center"><input class="form-control" ng-model="data.totalPublicExpense" /></td>
                <td class="align-middle text-center"><input class="form-control" ng-model="data.healthExpensePib" /></td>
                <td class="align-middle text-center"><input class="form-control" ng-model="data.healthExpenditurePerCapita" /></td>
                <td class="align-middle text-center"><input class="form-control" ng-model="data.var_" /></td>
                <td class="align-middle" align="center"><button id="btnUpdate" class="align-middle btn btn-primary btn-sm" ng-click="put()">ACTUALIZAR</button></td>
            </tr>
        </tbody>
    </table>

</div>
